@font-face {
  font-family: "G-League Spartan-n4";
  font-display: swap;
  src: url('../data/fonts/leaguespartan_v14_kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf');
}
@font-face {
  font-family: "G-League Spartan-n5";
  font-display: swap;
  src: url('../data/fonts/leaguespartan_v14_kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMzITpBMdcFguczA.ttf');
}
@font-face {
  font-family: "G-League Spartan-n7";
  font-display: swap;
  src: url('../data/fonts/leaguespartan_v14_kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMGYPpBMdcFguczA.ttf');
}
@font-face {
  font-family: "G-League Spartan-n6";
  font-display: swap;
  src: url('../data/fonts/leaguespartan_v14_kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMIIPpBMdcFguczA.ttf');
}